/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

.brand-logo{
  width: 200px;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #ef5350;
}

.parallax-container {
  min-height: 480px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }


@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
    left: 0;
  }
}

@media only screen and (min-width : 400px) {
  .brand-logo{
    width: 260px;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.parallax-container h1,.parallax-container h2,.parallax-container h5,.parallax-container h6{
  text-shadow: 0px 0px 24px #000;
}

.nohover:hover{
  background-color: transparent !important;

}

.lessbottom{
  margin-bottom: 5px;
}

.side-nav a{
  height: 50px;
}

.margin-top-2{
  margin-top: 0.125em !important;
}

.margin-top-10{
  margin-top: 0.625em !important;
}

.btn-nav{
  text-align: left !important;
  text-transform: none;
}

.nopadding{
  padding: 0;
}

.input-field input[type=text]:focus + label,  .input-field input[type=email]:focus + label, .input-field textarea.materialize-textarea:focus + label{
   color: #ef5350;
 }

.input-field input[type=text]:focus, .input-field input[type=email]:focus,.input-field textarea.materialize-textarea:focus {
     border-bottom: 1px solid #ef5350;
     box-shadow: 0 1px 0 0 #ef5350;
}

.info{
  margin-left: 5%;
}

.texttransnone{
  text-transform: none !important;
}

.card-info{
  height: 41.5em;
}

.social:first-child{
    margin-left: 5%;
}

.social{
  margin-right: 2%;
  margin-top: 2%;
}

.so-footer{
  margin: 1% 1%;
}

.top-750{
  top: 736px;
}

.parallax-contacto{
  min-height: 700px !important;
}

.mwith-300{
  max-width: 300px;
  margin: 0 auto !important;
}